.navbar-collapse .navbar-right{
	margin-right: 45px!important;
}
.navbar-default .navbar-nav>.open>a, 
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover {
    background-color: white!important;
}
.tu{
	position: relative;
}
.container{
	margin-left: 0!important;
	margin-right: 0!important;
	padding-left: 0!important;
}
#box1{
	width: 100%;
	height: auto;
	position: absolute;
	margin-top: -15%;
	text-align: center;
}
		
.txt1{
	text-align: center;
	display: block;
	font-size: 30px;	
	color: white;
	font-family: "Times New Roman", Times, serif;
}
.txt2{
	text-align: center;
	display: block;
	font-size: 16px;	
	color: white;
	font-family: "Times New Roman", Times, serif;
}
/*我们的服务*/
#box3{
	width: 100%;
	height: auto;
	background-color: white;
	position: relative;
}

.hbtn{
	width: 100%;
	background-color: white;
	margin: 0 auto;
	/*padding-top: 60px;*/
	padding: 60px 20px;
	text-align: center;
	color: rgb(25, 34, 39)!important; 
	font-size: 18px;	
}
.hbtn h4{
	padding-top: 1%;
	padding-bottom: 1%;
}


/*第四部分栅格系统*/
.screen2{
	width: 100%;
	height: auto;
	/*background-color: blueviolet;*/
	position: relative;
}
.box4{
	width: 90%;
	height: auto;
	/*background-color: yellow;*/
	position: relative;
	margin-left: 6%;
    top: 0; /* top是变量 */
}
/*动画效果*/
.box4{
	animation: go 3s ease;
    /*overflow: hidden;*/
}
@keyframes go{
    from {
        /*height: 0px;*/
        top : -200px;
        opacity: 0;
    }
    to {
        /*height: 400px;*/
        top : 0px;
        opacity: 1;
    }
}

.row{
	margin-left: 0px;
	margin-right: 0px;
}
.row1 .col-md-4{
	width: 30%;
	margin: 5px 12px;
	height: auto;
}

.col1{
	height: 232px;
	border: 1px solid rgb(238,238,238);
}
.col1:hover{
	box-shadow: 0px 0px 12px paleturquoise;	
}

.row .dtu{
	text-align: center;
	margin: 10px auto;
	overflow: hidden;
}
.row img{
	display: block;
	width: 85%;
	height: auto;
	margin: 10px auto;	
}
.col1:hover img{
	transform: scale(1.2) ;
	transition: 1s;
}
.col1 h4{
	font-size: 18px;
	text-align: center;
	margin: 20px auto;
}

.txt{
	text-align: center;
	width: 80%;
	margin: 20px auto;
	color: gray;
}

/*第五部分的样式*/
.do-area{
	width: 100%;
    height: auto;
	clear: both;
	background-image: url(../img/service/service4.jpg);
	background-repeat: no-repeat;
	background-position: 50% 50%;
    background-size: cover;	
    background-attachment: fixed;
}

.boxtu{
	margin-top: 5%;
	width: 100%;
	height: auto;
	overflow: hidden;
}

.Img{
	width: 30%;
	height: auto;
	float: left;
	margin-left: 8%;
	margin-top: 5%;
}

.boxrttxt{
	float: right;
	width: 50%;
	height: auto;
	padding-top: 8%;
}
.boxrttxt span{
	color: rgb(116, 192, 0);
	font-size: 2.5vmax;
}
.boxrttxt p{
	margin-top: 5%;
	color: gray;
	font-size: 1vmax;
}

.buttonbt{
	margin-top: 8%;
	width: 20%;
	height: 10%;
	padding: 2% 4%;
	border-radius: 8%;
	border: 2px solid goldenrod;
	font-size: 1vmax;
}
.boxrttxt a{
	color: gray;
}

.boxrttxt a:hover .buttonbt{
	color: white;
	background-color: goldenrod;
}

/*我们的优势*/
.adv{
	width: 100%;
	height: auto;
	padding-bottom: 5%;
}
.adv .col-xs-6,
.adv .col-sm-6,
.adv .col-md-3{
	padding-left: 0!important;
	padding-right: 0!important;
}
.advrow{
	padding-left: 10%;
}
.advbox{
	padding-top: 5%;
}
figure{
	position: relative;
    vertical-align: middle;
    transform-style: preserve-3d;
    -webkit-perspective: 1000;
    
}

figure p{
	width: 85%;
}
figure img{
	transition: all 0.4s; 
	margin: 0px !important;
	width: 100%!important;
}
figure:hover img{
	transform: translateX(100px);
	/*transition: transform 0.4s;*/
	max-width: 100%;
    display: block;
}
figcaption{
	display: block;
	height: 100%;
    width: 45%;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
    background: black;
    color: #ed4e6e;
     transition: all 0.4s;
    -webkit-transform:rotateY(-90deg);
     transform-origin: 0 0;
}
figcaption h3{
	margin: 0;
    padding: 0;
    color: #26ffff;
    font-size: 1.715rem;
    font-weight: 400;
    line-height: 1.2;
}
figcaption span{
	color: #ffffff;
}
figcaption a {
    position: absolute;
    bottom: 20px;
    right: 20px;
    text-align: center;
    padding: 5px 10px;
    border-radius: 2px;
    display: inline-block;
    background: #bfbfbf;
    color: #ffffff;

}
figure:hover figcaption{
   opacity: 1;
    -webkit-transform:rotateY(0deg);
   
    
}


/*底部内容的样式*/
.footer{
	width: 100%;
	height: auto;
	background-color: rgb(25, 32, 37);
}

.foottxt{
	position: absolute;
	font-size: 20px;
    color: rgb(153, 153, 153);
    margin-left: 2%;
    margin-top: 5%;
}
.foottxt2{
	padding-left: 1%;
}
.num{
	color: rgb(153, 153, 153)!important;
	padding-top:10%;
	padding-left: 22%;
}
.foottu{
	margin-top:2%;
	margin-left: 1.5%;
}

/*返回顶部样式*/
#top{
	width: 35px;
	height: 35px;
	background-color: gray;
	opacity: 0.7;
	position: fixed;
	right: 20px;
	bottom: 25px;
	display: none;
}

.toptxt{
	margin: 14px 8px;
	text-align: center;
	font-size: 20px!important;
	font-weight: 100!important;
	color: white!important;
	line-height: 40px;
}





@media (max-width: 500px) { 
	.row1 .col-xs-12{
		width: 100%;
		margin: 5px 12px;
		height: auto;	
	}
	.box4{
		margin-left: 2.5%;
	}
	.buttonbt{
		margin-top: 8%;
		width: 35%;
		height: 10%;
		padding: 2% 4%;
		border-radius: 8%;
		border: 2px solid goldenrod;
		font-size: 1vmax;
	}
	
	.carousel-inner img{
		margin-top: 15%;
	}
	#box1{
		margin-top: -23%;
	}
	.advrow{
		padding-left: 13%;
	}
	figure:hover img{
		transform: translateX(50px);
	}
}

@media (min-width:501px) and (max-width: 601px) { 
	.row1 .col-xs-12{
		width: 100%;
		margin: 5px 12px;
		height: auto;	
	}
	.box4{
		margin-left: 2.5%;
	}
	.buttonbt{
		margin-top: 8%;
		width: 35%;
		height: 10%;
		padding: 2% 4%;
		border-radius: 8%;
		border: 2px solid goldenrod;
		font-size: 1vmax;
	}
	.carousel-inner img{
		margin-top: 15%;
	}
	#box1{
		margin-top: -23%;
	}
}
@media (min-width:602px) and (max-width: 768px) { 
	.row1 .col-xs-12{
		width: 100%;
		margin: 5px 12px;
		height: auto;	
	}
	.buttonbt{
		margin-top: 8%;
		width: 30%;
		height: 10%;
		padding: 2% 4%;
		border-radius: 8%;
		border: 2px solid goldenrod;
		font-size: 1vmax;
	}
	.carousel-inner img{
		margin-top: 12%;
	}
	#box1{
		margin-top: -20%;
	}
	.advrow{
		padding-left: 13%;
	}
}
@media (min-width:769px) and (max-width: 892px) { 
	.row1 .col-xs-12{
		width: 100%;
		margin: 5px 12px;
		height: auto;	
	}
	.box4{
		margin-left: 2.5%;
	}
	.buttonbt{
		margin-top: 8%;
		width: 25%;
		height: 10%;
		padding: 2% 4%;
		border-radius: 8%;
		border: 2px solid goldenrod;
		font-size: 1vmax;
	}
	.carousel-inner img{
		margin-top: 10%;
	}
	#box1{
		margin-top: -20%;
	}
}
@media (min-width:893px) and (max-width: 992px) {
	.buttonbt{
		margin-top: 8%;
		width: 25%;
		height: 10%;
		padding: 2% 4%;
		border-radius: 8%;
		border: 2px solid goldenrod;
		font-size: 1vmax;
	}
	
}
	
@media (min-width: 993px) and (max-width: 1199px) {
	
}
@media (min-width: 1200px) and (max-width: 1350px) {
	
}
@media (min-width: 1351px) { 
	
}